/* tac đong vo 1 cái dung :nth-last-child() */


/* xoay
    transform: rotate(40deg); */


/* ===========box1=========== */

.boder-radiaus {
    border-radius: 10px;
}

.p-tb {
    padding-top: 13px;
    padding-bottom: 13px;
}

.p-f {
    margin-right: 21px;
}


/* //bo do */

.m-f-box2 {
    margin-left: 7px;
    color: black;
    bo padding: 0px;
    text-align: center;
}

span:hover {
    color: #ffb416
}

.box1-transform:hover {
    transform: rotate(45deg);
}


/* =================box3================ */

.border-r {
    border: 1px solid #ed4e2e;
}

.wi {
    width: 2000px;
}

.w-box3 {
    width: 186px;
}

.f-box3-content {
    font-size: 15px;
}

.position-relative {
    position: relative;
}

.fa.fa-cart-arrow-down {
    position: absolute;
    left: 132px;
    top: 56px;
    font-size: 25px;
}

.height-box3 {
    height: 85px;
}

.bg-rd {
    background: #ed4e2e;
}

.mg-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* .overflow-hidden {
    overflow: hidden;
} */


/* =============== */


/* =======================box4==================== */

.dcrs {
    text-decoration: none;
    color: black;
}

.fontsize {
    font-size: 16px;
}

.fontsine {
    font-size: 14px;
}

.fontni {
    padding: 0px !important;
}

.pd-pt-menu {
    padding-left: 700px;
    font-size: 14px;
}

.pd-pt2-menu {
    padding-right: 10px;
    font-size: 14px;
}

.pd-pt3-menu {
    padding-right: 10px;
    font-size: 14px;
}

.c-ter {
    text-align: center;
}

.fz {
    font-size: 12px;
}

.fonts {
    font-size: 24px;
}

.pst-e {
    position: relative;
}

.pst-a {
    position: absolute;
    top: 9px;
}

.pst-b {
    position: absolute;
    left: -400px;
}

.c {
    height: 100%;
}

.pdtop {
    padding-top: 30px;
    padding-bottom: 15px;
}

.pdtop2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

a:hover {
    color: #ffb416;
}

.color-white {
    color: white;
}

h3:hover {
    color: #ffb416;
}

.icon-pt-box4 {
    padding-left: 150px;
}

.pd-bottom {
    padding-bottom: 15px;
}

.container {
    max-width: 1200px;
}

.p-top-box3 {
    padding-top: 20px;
}

.boder-top-laptop {
    border-bottom: 2px solid #eb3e32;
}

.wt-pt-box4 {
    max-width: 300px;
}

.p-right-box4 {
    margin-left: auto;
    margin-right: auto;
}

.p-top-box7 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.w-btb {
    width: 480px;
}

.p-top-box5 {
    padding-top: 7px;
}


/* box7 */

.b-d-box7 {
    border: 2px solid #eb3e32;
}

.w {
    width: 100%;
}

.gc {
    text-decoration: line-through;
    font-size: 13px;
}

.pd-felt-g {
    padding-left: 10px;
    padding-right: 10px;
}


/* <!-- =========test===== --> */

.border-test {
    background-color: #ffb416;
    padding-top: 6px;
    width: 35px;
    height: 40px;
    text-align: center;
}

.f-sell {
    font-size: 13px;
}

.po-sell {
    position: relative;
}

.pi-sell {
    position: absolute;
    top: 10px;
    left: -19px;
}


/* <!-- =========test===== --> */


/* <!-- ===test sell logo==== --> */

.po-logosell {
    position: relative;
}

.pi-logosell {
    position: absolute;
    left: 100px;
    top: -10px;
}


/* <!-- ===test sell logo==== --> */

.po-me {
    position: relative;
}

.pi-me {
    position: absolute;
    top: 1px;
}

.pd-l {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pd-i {
    padding-top: 20px;
}

.p-r-s {
    padding-left: 10px !important
}


/* ================================== */

.supmenu>li>a {
    text-decoration: none;
}